### IntelliJ IDEA ###
.idea
.idea/
*.iml
.out
.out/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### General ###
*.log
*.tmp
*.class

### Mac OS ###
.DS_Store

### Node.js ###
node_modules/

### Java ###
*.jar
*.war
*.ear

### Build files ###
/build/
/target/

/*.db
